Source: ros-hydro-ptu46
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-catkin, ros-hydro-diagnostic-updater, ros-hydro-ptu-control, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-tf
Homepage: http://ros.org/wiki/ptu46
Standards-Version: 3.9.2

Package: ros-hydro-ptu46
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-diagnostic-updater, ros-hydro-ptu-control, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-tf
Description: Driver for the Directed Perception ptu46 pan/tilt driver, forked from player
