Source: ros-hydro-rwi-ros
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/rwi
Standards-Version: 3.9.2

Package: ros-hydro-rwi-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-b21-description, ros-hydro-b21-teleop, ros-hydro-ptu-control, ros-hydro-ptu46, ros-hydro-rflex
Description: Drivers for the robots produced by Real World Interface, Inc.
